<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arizonia">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  
  <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
  <title>{{ $.Site.Title }}</title>

  {{ $stylesheet := .Site.Data.webpack.main }}
  {{ with $stylesheet.css }}
    <link href="{{ relURL . }}" rel="stylesheet">
  {{ end }}

<script>

			var no_wr3ckords = 1,
			    no_images = 1,
			    image = 0,
			    play = 0;

function setup_audio_continuer()
			{
				var myAudio = document.getElementById('my_audio');
				myAudio.onended = function()
				{
					myAudio.src = "./mp3/wr3ckord_2.mp3";
					myAudio.play();
				}
			}

			function prev_image()
			{
				if(document.getElementById("my_media"))
				{
					var pic = document.getElementById('my_media');
					if(image == 0)
						image = no_images-1;
					else
						--image;
					pic.src = "./img/jigs4w.jpeg";
				}

				return;
			}

			function next_image()
			{
				if(document.getElementById("my_media"))
				{
					var pic = document.getElementById('my_media');
					image = (image+1)%no_images;
					pic.src = "./img/jigs4w.jpeg";
				}

				return;
			}

			function keyPressEvent(event)
			{
				var char = event.keyCode,
				    wr3ckord = char;

				//alert(char);

				if(char == 9  ||
				   char == 16 ||
				   char == 17 ||
				   char == 18 ||
				   char == 20 ||
				   char == 91)
				{
					return;
				}
				else if(char == 32 || char == 80)
				{
					var myAudio = document.getElementById('my_audio');
					if(myAudio.paused)
						myAudio.play();
					else
						myAudio.pause();

					return;
				}
				else if(char == 37)
				{
					var myAudio = document.getElementById('my_audio');
					myAudio.currentTime -= 1;

					return;
				}
				else if(char == 38)
				{
					var pic = document.getElementById('my_media');
					if(image == 0)
						image = no_images-1;
					else
						--image;
					pic.src = "./img/jigs4w.jpeg";

					return;
				}
				else if(char == 39)
				{
					var myAudio = document.getElementById('my_audio');
					myAudio.currentTime += 1;

					return;
				}
				else if(char == 40)
				{
					var pic = document.getElementById('my_media');
					image = (image+1)%no_images;
					pic.src = "./img/jigs4w.jpeg";

					return;
				}

				var myAudio = document.getElementById('my_audio');
				myAudio.src = "./mp3/wr3ckord_2.mp3";
				myAudio.play();
			}
</script>
</head>

<body onclick="play_tune()" onmousemove="toggle_banner()" onkeydown="keyPressEvent(event)">

  {{ block "header" . }}{{ partial "header" . }}{{end}}

  {{ block "main" . }}{{end}}

  {{ block "footer" . }}{{ partial "footer" . }}{{end}}

  {{ $script := .Site.Data.webpack.main }}
  {{ with $script.js }}
    <script src="{{ relURL . }}"></script>
  {{ end }}

</body>

</html>
