/*
  You can use import statements to include partials:
 */
@import 'imports/reset.css';
@import 'imports/pagestyle.css';
/*
  Or add your statements here:
 */
body, table {
  font-size: calc(10px + 1vmin);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: contents;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  color: white;
  overflow-x: hidden;
}

a {
  color: pink;
  text-decoration: none;
}


h1,h2{
    text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
}

h3 {
    font-family: 'Arizonia', Helvetica, sans-serif;
    color: black;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
}
p,h4{
  position: relative;
  top:-3em;
}
#cienzontles{
  display: flex;
  background-color: #3B190C;
  position: relative;
  width: 100%;
  height: 2em;
  align-items: center;
  padding-left: 10px;
  top: -30px;
}
#santa-rosa-cintepec{
  display: flex;
    width: 100%;
    position: relative;
    top: -1.4em;
    height: 6em;
    background-image: url('../img/fantasmitas.jpg');
    justify-content: center;
    align-items: center;
    font-size: 3em;
}
#sábado-15-de-octubre-de-2022---1100-am{
  position: absolute;
  top: 15em;
  display: flex;
  width: 100%;
  height: 3em;
  background-color: #754829;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
}
article{
  overflow: hidden;
  background-image: url('../img/fantasmitas2.png');
  background-size: cover;

}




