{{ define "main" }}

<div id="navC">
    <p>Cienzontles</p>
</div>
<div id="headerC">
    <div></div>
    <h1>
        Santa Rosa Cintepec
    </h1>
</div>
<div id="navC2">
    <h3>Sábado 15 de octubre del 2022</h3>
</div>
<div id="contentC">
    <div>
    <h3>11:00 horas</h3>
    <h3>El arma secreta de Julio César</h3>
    <p>Estoy pensando una descripción más llamativa...</p>
    <h3>Una cuestión de gravedad</h3>
    <p>
        Introducción a los efectos que tiene la gravedad sobre los fluidos estáticos, así como la importancia de la densidad en estos efectos y la presencia de la presión atmosférica.
    </p>
    <h3>Matemáticas y malabares</h3>
    <p>Lorem Ipsum mia miau</p>
    </div>
</div>
{{ end }}
